* {
  padding: 0;
  margin: 0;
}

.cards{
  width: 60%;
  height: auto;
}



.dash_cards {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 10px;
}

.card_position {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 10px;
}

.table_1 {
  padding: 30px 30px;
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.table1_position {
  padding-bottom: 50px;
  padding-top: 5px;
}

.table_2 {
  padding: 30px 30px;
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.table2_position {
  padding-bottom: 50px;
}

.dash_pie {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
  justify-content: space-evenly;
}

.div_line {
  border: 1px rgb(52, 51, 51) solid;
}

.global-class-name {
  padding-right: 5px !important;
}

.card_title_1:hover {
  color: green;
}

.card_title_2:hover {
  color: purple;
}

#progressbar_1:hover {
  height: 8px !important;
  cursor: pointer;
}

.progress:hover {
  height: 8px !important;
  cursor: pointer;
}


.card_css{
  display: flex;
  flex-direction: row;
}